checkered-pattern(width)
  background-image linear-gradient(45deg, #ccc 25%, transparent 25%),
    linear-gradient(135deg, #ccc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(135deg, transparent 75%, #ccc 75%)
  background-size: width width
  background-position: 0 0, (width/2 0), ((width/2) (-(width/2))), (0 width/2)
